.employee-information {
	display: flex;
	margin: 50px 0;
	/*flex-direction: column;*/
}
.form-row {
	display: flex;
	width: 100%;
	margin: 0 15px;
}
.form-row label {
	margin: 7px 10px 0 0;
}
.form-row select {
	width: 100%;
	height: 42px;
	padding: 0 15px;
}
.re-employee-information {
	margin: 50px 15px 0;
}
.re-title-value {
    margin: 7px 0 0 0;
}
.employee-information-form {
	display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.employee-information-form .form-row {
	margin-bottom: 20px;
}
.employee-information-form label {
	min-width: 120px;
    margin-top: 5px;
    text-align: right;
}
.employee-information-form input[type="text"] {
	width: 25%;
    height: 32px;
    padding: 0px 15px;
}
.employee-information-form input[type="submit"] {
	width: 200px;
    height: 38px;
    line-height: 38px;
    margin-left: 0;
    margin-top: 20px;
}
.employee-tabs-wrap {
	display: flex;
	padding: 0 15px;
}
.employee-tabs {
	display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.employee-tabs li {
	padding: 10px 20px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #fff;
    font-weight: bold;
}
.employee-tabs li:last-child {
    border-right: 1px solid #ccc;
}
.employee-tabs li:hover,
.employee-tabs li.active {
	color: green;
}
.employee-tabs li.active {
	margin-bottom: -1px;
}
.employee-tabs-body {
	margin: 0 15px 30px;
    padding: 15px 15px 21px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.employee-accordion {
    padding: 0;
    margin: 0 15px 50px;
}
.accordion {
    list-style-type: none;
}
.accordion-title {
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 12px 15px;
    font-weight: bold;
}
.accordion-title:hover,
.accordion-title.active {
	color: green;
}
.accordion:last-child .accordion-title {
    border-bottom: 1px solid #ccc;
}
.accordion:last-child .accordion-title.active {
    border-bottom: none;
}
.accordion .accordion-details {
    display: block;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 20px 15px 30px;
}
.accordion .accordion-details {
	display: none;
}
.accordion-active .accordion-details {
	display: block;
}
.accordion:last-child .accordion-details {
	border-bottom: none;
}
.accordion:last-child .accordion-details.active {
	border-bottom: 1px solid #ccc;
}